html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.yyl-logo {
    line-height: 60px;
    text-align: center;
}

.yyl-hr {
    margin: 0 0 10px 0;
}

.yyl-slogan {
    text-align: center;
}

.yyl-main {
    flex: 1;
}

.yyl-slogan-title {
    padding-top: 20px;
    color: #2d99bb;
    font-weight: 600;
}

.yyl-slogan-image {
    padding-top: 30px;
}

.yyl-slogan-desc {
    padding-top: 30px;
}

.yyl-code {
    padding-top: 30px;
}

.yyl-idea {
    padding-top: 30px;
}

.yyl-footer {
    padding-top: 10px;
    text-align: center;
}

.yyl-copyright {
    margin: 15px 0 20px 0;
}

.yyl-margin-top {
    margin-top: 30px;
}

.yyl-text-center {
    text-align: center;
}

#cnzz_stat_icon_1279293279 {
    text-align: center;
}